/Astro-satpass-*
/blib
/Build
/_build
/cover_db
/data
/Debian_CPANTS.txt
/foo
/iridium.dat
/Makefile
/MANIFEST.bak
/meta
/META.json
/META.yml
/MYMETA.json
/MYMETA.yml
/nytprof*
/pm_to_blib
/ref
/scalps
TODO
/usual.dat
/xt/author/optionals/
/*.expect
/*.got
.*.swp
